{% extends 'layout/wrapper.html' %}

{% load crispy_forms_tags %}

{% block title %}Вход{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <p>Вы уже выполнили вход.</p>
  {% else %}
    <form method="post">
      {% csrf_token %}
      {{form|crispy}}
      <input type="hidden" name="next" value="{{next}}">
      <button type="submit" class="btn">Войти</button>
      <a href="{% url 'user:password_reset' %}" class="btn btn-light">Сбросить пароль</a>
    </form>
  {% endif %}
{% endblock %}
